service: pds-serverless

frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs20.x
  role: ${env:LAMBDA_ROLE_ARN}
  deploymentBucket:
    name: pds-serverless-deploys
  region: ${env:AWS_REGION_KEY}
  memorySize: 1024
  timeout: 300
  environment:
    BOOKS_BASE_URL: ${env:BOOKS_BASE_URL}
    BOOKS_ID: ${env:BOOKS_ID}
    GAMES_URL: ${env:GAMES_URL}
    S3_BUCKET_NAME: ${env:S3_BUCKET_NAME}
    S3_BUCKET_DIR: ${env:S3_BUCKET_DIR}

functions:
  scrapper:
    handler: scrapper.handler
    name: ${env:LAMBDA_NAME}
    events:
      - schedule:
          rate: cron(0 0/12 * * ? *)    # Every 12 hours
          enabled: true
          input:
            message: "Triggering scraper"

package:
  exclude:
    - node_modules/aws-sdk/**
